<%- include('header'); %>
  <!-- Sidenav -->
  <%- include('sidebar'); %>
  <!-- Main content -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>讨论区</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <!-- Timelime example  -->
        <div class="row">
          <div class="col-md-12">
            <!-- The time line -->
            <div class="timeline">

              <!-- timeline item -->
              <div>
                <i class="fas fa-book bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header"><a href="#">官方文档</a> </h3>
                  <div class="timeline-body">
                    地址：<a href="http://doc.kaka996.com/" target="_blank">查看</a>
                  </div>
                </div>
              </div>
              <!-- END timeline item -->

              <!-- timeline item -->
              <div>
                <i class="fas fa-user bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header"><a href="#">问答社区</a> </h3>
                  <div class="timeline-body">
                    地址：<a href="http://bbs.kaka996.com/" target="_blank">查看</a>
                  </div>
                </div>
              </div>
              <!-- END timeline item -->


              <!-- timeline item -->
              <div>
                <i class="fas fa-comments bg-yellow"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header"><a href="#">微信讨论群</a> - 加群请备注：dapps</h3>
                  <div class="timeline-body">
                    <img src="https://i.loli.net/2019/08/22/5BHxFJhYpzoAVT1.png" alt="...">
                  </div>
                </div>
              </div>
              <!-- END timeline item -->

              <div>
                <i class="fas fa-clock bg-gray"></i>
              </div>
            </div>
          </div>
          <!-- /.col -->
        </div>
      </div>
      <!-- /.timeline -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<%- include('bottom'); %>