<div class="content-wrapper">
  <!-- Content Header (页眉) -->
  <section class="content-header">
    <h1>
      应用管理
      <small></small>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <div class="box">
          <div class="box-header">
            <h3 class="box-title">全部</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>应用名称</th>
                <th>介绍</th>
                <th>作者</th>
                <th>下载</th>
                <th>版本</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
 
                <tr>
                  <td>All others</td>
                  <td>-</td>
                  <td>U</td>
                  <td>All others</td>
                  <td>-</td>
                  <td>-</td>
                  <td>安装-升级-配置-卸载-演示</td>
                </tr>
              </tbody>
              <tfoot>

              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </div>
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>