<%- include('header'); %>

<body class="hold-transition login-page">
        <div class="login-box">
          <div class="login-logo">
            <a href="/"><b>Dapps</b>应用商店</a>
          </div>
          <!-- /.login-logo -->
          <div class="card">
            <div class="card-body login-card-body">
              <p class="login-box-msg">登录</p>
        
              <form>
                <div class="input-group mb-3">
                  <input type="email" id="email" class="form-control" placeholder="邮箱" value="">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="password" id="pwd" class="form-control" placeholder="密码" value="">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <a href="#" id="login" class="btn btn-block btn-primary">
                        登录
                    </a>
                    
                </div>
              </form>
            </div>
            <!-- /.login-card-body -->
          </div>
        </div>
  
<script>
    $(function(){
        $('#login').click(function() {
            var email = $('#email').val();
            var pwd = $('#pwd').val();
            var params = {
                out_url: "login",
                method: 'POST',
                data: {
                  email: email,
                  pwd: pwd
                }
            };
            $.post('/api/v1/home/outapi',params,function(result){         
                if (result.code !== 0) {
                    alert(result.message);
                } else {
                    localStorage.setItem('token', result.data.token);   
                    localStorage.setItem('uid', result.data.user_info.uid);
                    localStorage.setItem('user_info', JSON.stringify(result.data.user_info));
                    var url = "/html/v1/store/list";
                    window.location.href= url;
                }
            });    
      });
    })
</script>
<!-- Bootstrap 4 -->
<script src="/public/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>